<div class="main-content-for-signup">

<div class="create-class">
<h2>Sign Up</h2>
<h2>Choose a Username and Password!</h2>

<form class="signup-form" action="/" method="post">
  <input class="input" type="text" name="username" placeholder="Username">
  <input class="input" type="text" name="password" placeholder="Password">
  <div class="button-container"><input class="button" type="submit"></div>
</form>
</div>

<div class="already-member">
<h2>Already a member?</h2>
<h2>Sign In!</h2>
<form class="signin-form" action="/signin" method="post">
  <input class="input" type="text" name="username" placeholder="Username">
  <input class="input" type="text" name="password" placeholder="Password">
  <div class="button-container"><input class="button" type="submit"></div>
</form>
</div>
</div>
