.main-content-for-signup {
	width: 80%;
	max-width: 500px;
	margin: 0 auto;
	margin-top: 70px;
	text-align: center;
	background-color: rgba(0,0,0,0.1);
	border-radius: 10px;
	padding: 10px;
}

.input {
	width: 30%;
	max-width: 200px;
	height: 30px;
	border: 2px solid white;
	border-radius: 10px;
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
}

.button-container {
	margin: 10px;
}

.button {
	width: 15%;
	max-width: 100px;
	height: 30px;
	border: 2px solid white;
	border-radius: 10px;
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
}