.footer-container {
	width: 50vw;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.15);
}

.footer {
	margin: 0;
	font-size: 20px;
	text-align: center;
}

.footer-span {
	font-family: cursive;
	margin: 0;
	font-size: 24px;
	color: firebrick;
	text-align: center;
}