.footer-container {
	position: absolute;
	left: 25%;
	bottom: 0;
	height: 10vh;
	width: 50%;
	text-align: center;
}

.footer {
	margin: 0;
	font-size: 18px;
	color: beige;
	text-align: center;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.1);
}

.footer-span {
	font-family: cursive;
	margin: 0;
	font-size: 24px;
	color: firebrick;
	text-align: center;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.1);
}