.footer-container {
	position: fixed;
	bottom: 0;
	width: 50vw;
	left: 25%;
	background-color: rgba(0,0,0,0.1);
}

.footer {
	margin: 0;
	font-size: 18px;
	color: beige;
	text-align: center;
}

.footer-span {
	font-family: cursive;
	margin: 0;
	font-size: 24px;
	color: firebrick;
	text-align: center;
}