.header-container {
	width: 80%;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	background-color: rgba(0,0,0,0.1);
	border-radius: 10px;
}

.header {
	color: beige;
	font-family: cursive;
	text-align: center;
	margin: 0;
}